@page
@model ErrorModel


<!DOCTYPE html>

<html lang="en" class="light-style layout-wide " dir="ltr" data-theme="theme-default" data-assets-path="materio-theme/" data-template="vertical-menu-template-free" data-style="light">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Error - Pages | Materio - Bootstrap Material Design Admin Template</title>


    <meta name="description" content="Start your development with a Dashboard for Bootstrap 5" />
    <meta name="keywords" content="dashboard, material, material design, bootstrap 5 dashboard, bootstrap 5 design, bootstrap 5">
    <!-- Canonical SEO -->
    <link rel="canonical" href="https://themeselection.com/item/materio-aspnet-core-mvc-admin-template/">


    <!-- ? PROD Only: Google Tag Manager (Default ThemeSelection: GTM-5DDHKGP, PixInvent: GTM-5J3LMKC) -->
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
              new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
              j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
              'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
              })(window,document,'script','dataLayer','GTM-5DDHKGP');</script>
    <!-- End Google Tag Manager -->
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="materio-theme/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&ampdisplay=swap" rel="stylesheet">


    <link rel="stylesheet" href="materio-theme/vendor/fonts/remixicon/remixicon.css" />

    <!-- Menu waves for no-customizer fix -->
    <link rel="stylesheet" href="materio-theme/vendor/libs/node-waves/node-waves.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="materio-theme/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="materio-theme/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="materio-theme/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="materio-theme/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />


    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="materio-theme/vendor/css/pages/page-misc.css">

    <!-- Helpers -->
    <script src="materio-theme/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="materio-theme/js/config.js"></script>

</head>

<body>


    <!-- ?PROD Only: Google Tag Manager (noscript) (Default ThemeSelection: GTM-5DDHKGP, PixInvent: GTM-5J3LMKC) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DDHKGP" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Content -->
    <!-- Error -->
    <div class="misc-wrapper">
        <h1 class="mb-2 mx-2" style="font-size: 6rem;line-height: 6rem;">404</h1>
        <h4 class="mb-2">Page Not Found 🙄</h4>
        <p class="mb-10 mx-2">we couldn't find the page you are looking for</p>
        <div class="d-flex justify-content-center mt-5">
            <img src="materio-theme/img/illustrations/tree-3.png" alt="misc-tree" class="img-fluid misc-object d-none d-lg-inline-block">
            <img src="materio-theme/img/illustrations/misc-mask-light.png" alt="misc-error" class="misc-bg d-none d-lg-inline-block" height="172" data-app-light-img="illustrations/misc-mask-light.png" data-app-dark-img="illustrations/misc-mask-dark.png">
            <div class="d-flex flex-column align-items-center">
                <img src="materio-theme/img/illustrations/404.png" alt="misc-error" class="misc-model img-fluid z-1" width="780">
                <div>
                    <a href="index.html" class="btn btn-primary text-center my-6">Back to home</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /Error -->
    <!-- / Content -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="materio-theme/vendor/libs/jquery/jquery.js"></script>
    <script src="materio-theme/vendor/libs/popper/popper.js"></script>
    <script src="materio-theme/vendor/js/bootstrap.js"></script>
    <script src="materio-theme/vendor/libs/node-waves/node-waves.js"></script>
    <script src="materio-theme/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="materio-theme/vendor/js/menu.js"></script>

    <!-- endbuild -->
    <!-- Vendors JS -->
    <!-- Main JS -->
    <script src="materio-theme/js/main.js"></script>


    <!-- Page JS -->
    <!-- Place this tag before closing body tag for github widget button. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

</body>

</html>

<!-- beautify ignore:end -->
